[Unit]
Description=MISlocker peripheral initialization service
DefaultDependencies=false
Requires=systemd-modules-load.service
After=systemd-modules-load.service
Before=sysinit.target
ConditionPathExists=/sys/class/i2c-adapter

[Service]
Type=oneshot
ExecStart=sudo python3 -u sysinit.py
WorkingDirectory=/home/MISlocker/system/main
Restart=no
# must set user to root to execute all functions and peripherals
User=root

[Install]
WantedBy=sysinit.target

