body {
    background: url("../img/ctu.png") no-repeat center center fixed; /*background picture */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 10px;
    color: #000;
    font-family: helvetica;

}
img {
    margin: 15px 0px 0px 0px;
    background:#fff;
    border-radius: 180px;
}
h1 {
    display: block;
    font-size:45px;
}
p {
    font-size:22px;
}
#shutdown {
    font-size:18px;
}
#pwrdby {
    font-size:10px;
}
#credits {
    text-align: left;
}

