[Unit]
Description=MISlocker initialization service
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=sudo ./peripheral_init
WorkingDirectory=/home/MISlocker/MISlocker/main_code
Restart=no

[Install]
WantedBy=sysinit.target
