[Unit]
Description=MISlocker main service
After=multi-user.target
DefaultDependencies=true

[Service]
Type=simple
ExecStart=sudo python3 -u main.py
WorkingDirectory=/home/MISlocker/system/main_code
StandardOutput=inherit
StandardError=inherit
Restart=yes
User=root

[Install]
WantedBy=sysinit.target multi-user.target
