{% extends "base.html" %}

{% block content %}
    <div id="app">
      <div id="avatar">
        <img src="../static/img/MIS.png"> <!-- logo for the system -->
        <h1>{{server_title}}</h1>
        <p>{{server_func}}</p>
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div id="userInfos">
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <section id="realInfo">
            <p>
              <!-- {{ form.name.label }}<br> -->
              {{ form.name(size=32,placeholder='Your full name') }}
              {% for error in form.name.errors %}
              <br /><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              <!-- {{ form.mssv.label }}<br> -->
              {{ form.mssv(size=32,placeholder='Your ID (MSSV)') }}
              {% for error in form.mssv.errors %}
              <br /><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>
            <!-- <input id="but.name" type="text" placeholder="Your full Name">
            <input id="but.mssv" type="text" placeholder="Your ID (MSSV)">    -->
          </section>
          <div class="button">
            <p>{{ form.save() }}</p>
            <!-- <input id="but.save"   type="button" value="Save" data-connect="manual" />
				    <input id="but.cancel" type="button" value="Cancel"/> -->
          </div>
        </form>
      </div>
      <div id="pwrdby">
        <strong><br /><a id="acredits" href="/about"> &copy; 2019 Minh-An Dao.</a></strong><br />
        <strong>Maker Innovation Space Can Tho</strong>
      </div>
    </div>
{% endblock %}